.idea
node_modules/**/*
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
tolefocus/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp

*
!tolefocus/**/*.ts
!*/
!.gitignore
!/readme.md
